<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.forus.mapper.GoodsMapper">
	
	<!-- 1. mainPage에 내보낼 전체 상품리스트 -->
	<select id="mainGoodsList" resultType="com.forus.domain.GoodsVO">
		select *
		from goods_tb 
		where (g_status='판매'
		or g_status='구매')
		and loc_seq in
			(select loc_seq 
			from g_location_tb 
			where v_machine_seq=2) 
		order by loc_seq asc
	</select>
	
	<!-- 2. 선택한 상품 1개 상세페이지 -->
	<select id="goodsDetail" resultType="com.forus.domain.GoodsVO">
		select *
		from goods_tb 
		where g_seq = #{g_seq}
	</select>
	
	<!-- 3. 상품 구매 페이지 -->
	<select id="goodsBuy" resultType="com.forus.domain.GoodsBuyVO">
		select g.g_seq, g.g_name, g.g_img, g.g_price, g.seller_id, u.user_id, u.user_point
		from goods_tb g, user_tb u
		where g.seller_id = u.user_id
        and g_seq = #{g_seq}
	</select>
	
	<!-- 4. 상품 결제 완료 후 판매 상품 상태 '완료'로 바꾸기 -->
	<update id="goodsStatusUpdate" parameterType="com.forus.domain.GoodsVO">
		update goods_tb
		set g_status='완료'
		where g_seq = #{g_seq}
	</update>
	
	<!-- 5. 결제 완료 상품 정보 -->
	<select id="goodsComplete" parameterType="int"  resultType="com.forus.domain.GoodsBuyCompleteVO">
		select g.g_seq, g.g_name, g.g_img as g_img, g.g_price,  l.v_machine_pw, l.v_machine_space_no
		from goods_tb g, g_location_tb l 
		where g.loc_seq = l.loc_seq
        and g_seq = #{g_seq}
	</select>
	
	<!-- 6. 상품 비밀번호 추출하기 -->
	<select id="goodsPassword" resultType="com.forus.domain.GoodsPwVO">
		select g.g_seq, l.v_machine_pw
		from goods_tb g, g_location_tb l
		where g.loc_seq = l.loc_seq
		and g.g_seq = #{g_seq}
	</select>
	


</mapper>

