<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.forus.mapper.UserMapper">
	
	<!-- 앱 구매자 로그인 -->
	<select id="loginUser" parameterType="com.forus.domain.UserVO" resultType="com.forus.domain.UserVO">
		select *
		from user_tb
		where user_id = #{user_id}
	</select>
	
	<!-- 주문리스트 불러오기 -->
	<select id="userOrderList" resultType="com.forus.domain.GoodsOrderListVO">
		select g.g_seq, g.g_name, g.g_img, g.g_price, g.consumer_id, g.g_regdate, l.v_machine_pw, l.v_machine_space_no, u.user_id, l.loc_seq
		from goods_tb g, g_location_tb l, user_tb u
		where g.loc_seq = l.loc_seq
		and g.consumer_id = u.user_id
        and u.user_id = #{user_id}
        and g.g_status='구매'
	</select>
	
	<!-- 주문리스트에 있는 상품 실제로 꺼내기 -->
	<!-- (g_status : '구매' -> '완료') -->
	<update id="completeBuyGoods" parameterType="com.forus.domain.GoodsVO">
		update goods_tb
		set g_status='완료'
		where g_seq = #{g_seq}
	</update>
	
	<!-- 상품 회수 페이지 리스트 불러오기 -->
	<select id="userSellList" resultType="com.forus.domain.GoodsGetVO">
		select g.g_seq, g.g_name, g.g_img, g.g_price, g.seller_id, g.g_regdate, l.v_machine_pw, l.v_machine_space_no, u.user_id
		from goods_tb g, g_location_tb l, user_tb u
		where g.loc_seq = l.loc_seq
		and seller_id = u.user_id
		and u.user_id = #{user_id}
	</select>
	
	<!-- 상품 삭제하기 -->
	<delete id="deleteGoods" parameterType="int">
		delete 
		from goods_tb
		where g_seq=#{g_seq}
	</delete>
	
	<!-- 상품 등록하는 페이지 불러오기 -->
	<select id="inputGoodsList" resultType="com.forus.domain.GoodsGetVO">
		select g.g_seq, g.g_name, g.g_img, g.g_price, g.seller_id, g.g_regdate, l.v_machine_pw, l.v_machine_space_no, u.user_id
		from goods_tb g, g_location_tb l, user_tb u
		where g.loc_seq = l.loc_seq
		and g.seller_id = u.user_id
		and g.seller_id = #{seller_id}
		and g.g_status = '대기'
	</select>
	
	<!-- 실제 상품 등록하기 -->
	<update id="addGoods" parameterType="com.forus.domain.GoodsVO">
		update goods_tb
		set g_status='판매'
		where g_seq = #{g_seq}	
	</update>
	
</mapper>

